header.navigation {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

section {
  @include outer-container;
  .cards {
    margin: 1em 0;
  }
}

.chart {
  height: 70px;
  width: 300px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 1em;

  .bar {
    fill: #ccc;
  }
}
