.hero
  .hero-inner
    %a.hero-logo{:href => ""}
    = image_tag 'shujie.jpg'
    .hero-copy
      %h1 Hi, my name is Shujie.
      %p I'm a data journalist currently interning at Foreign Policy Magazine.
