%footer.footer-2{:role => "contentinfo"}
  .footer-secondary-links
    %ul.footer-social
      %li
        %a{:href => data.main.sidney.social.linked} LinkedIn
      %li
        %a{:href => data.main.sidney.social.twitter } Twitter
      %li
        %a{:href => data.main.sidney.social.muckrack} Muckrack
