.scroll-on-page
  %aside#scroll-on-page-top
    %a.scroll-on-page-link{:href => "#scroll-link-1"} Work Experience
    %a.scroll-on-page-link{:href => "#scroll-link-2"} Skills
    %a.scroll-on-page-link{:href => "#scroll-link-3"} Languages
    %a.scroll-on-page-link{:href => "#scroll-link-4"} Education
    %a.scroll-on-page-link{:href => "#scroll-link-5"} Download resume
  %article
    %section
      %h4#scroll-link-1.big Work Experience

      .entry
        %h5 Editorial Intern - Foreign Policy Magazine (Washington, D.C., June 2014 – present)
        %ul
          %li Help FP improve its data-visual presence on its website by writing data-driven blogs embedded with charts.
          %li Manage FP’s China Channel and its original site tealeafnation.com with web production that involves web design, copyediting, laying out articles, editing images, creating slideshows, and embedding audios and videos.
          %li Research, fact check, and write articles on a variety of topics on China, including a magazine feature profiling 50 influential global thinkers in the U.S.-China relationship.
          %li Contribute to FP’s targeted push to Chinese audience and work with social media editor to promote TLN contents in English and Mandarin for Facebook and Twitter.

      .entry
        %h5 Washington Desk Intern - National Public Radio (Washington, D.C., January – May 2014)
        %ul
          %li Logged, researched, edited, and prepared audiotapes for national political reporters and White House correspondents.
          %li Pitched story ideas to the Parallel blog and helped with China-related stories by researching using China’s social media.
          %li Recorded press conferences and did field tape syncing for reporters and radio news programs using Marantz audio kit.

      .entry
        %h5 DC correspondent - Worcester Telegram & Gazette (Washington, D.C., September 2013 – February 2014)
        %ul
          %li Served as a Washington correspondent for two local papers with a combined circulation of approximately 140,000.
          %li Published several stories on the 2013 government shutdown, Farm Bill, flood insurance, and campaign finance.
          %li Covered the entire Massachusetts congressional delegation.

      .entry
        %h5 Editorial Intern - Wicked Local Brookline TAB (Needham, Mass., June – August 2013)
        %ul
          %li Published more than 10 local news and features on government, healthcare, education, clean energy, immigration, and art.
          %li Shot photos and produced several multimedia stories with video and audio using Final Cut Pro for the website.

      .entry
        %h5 Freelancer - The Arts Fuse (Boston’s online art magazine) (Boston, Mass., April – August 2013)
        %ul
          %li Produced a multimedia story about the effect of declining art coverage on Boston’s artists and art institutions.

      .entry
        %h5 News Correspondent - National School of Development (NSD) (Beijing, China, March – June 2012)
        %ul
          %li Covered breaking news, alumni events, and economic lectures for NSD, a think tank at Peking University.
          %li Translated Chinese documents including newsletters and background information to English, vice versa.
          %li Assisted the Director of Public Relations with editing the school magazine and coordinating public relations.

      .entry
        %h5 News Program (News 007) Intern - Zhejiang Television (Hangzhou, China, July – August 2011)
        %ul
          %li Produced two 20-minute investigative stories with researching, interviewing, transcribing, and editing sound bites.

      .entry
        %h5 Online News Editor Intern - QSL Sport Social Media (Beijing, China, March – June 2011)
        %ul
          %li Edited and updated news and photos of domestic and foreign sports games on the website.
          %li Designed and managed the website of the Chinese Football Association.

    %section
      %h4#scroll-link-2.big Skills
      .entry
        %ul
          %li Illustrator
          %li HTML
          %li CSS
          %li Basic Python
          %li Basic JavaScript
          %li Git
          %li Datawrapper
          %li ECharts
          %li Tabula
          %li TimelineJS
          %li QGIS
          %li Google Openrefine
          %li WordPress
          %li Final Cut Pro
          %li Adobe Premiere
          %li LexisNexis

    %section
      %h4#scroll-link-3.big Languages
      .entry
        %ul
          %li Mandarin (Native)
          %li English

    %section
      %h4#scroll-link-4.big Education

      .entry
        %h5 Boston University College of Communication (Boston, Mass.)
        %ul
          %li Master of Science in Journalism (Awarded, May 2014)

      .entry
        %h5 Beijing Sport University College of Management (Beijing, China)
        %ul
          %li Bachelor of Arts in Public Administration (Awarded, June 2012)

    %section
      = link_to 'assets/shujie_leng_resume.pdf' do
        %h4#scroll-link-5.big Download resume

      %a.scroll-on-page-link{:href => "#scroll-on-page-top"} Back to top
